.MoveCard {
    max-height: 250px;
    margin-bottom: 1rem;
    color: inherit;
    border-radius: 0;
    border: none;
    background-color: #F8F8F8;
    text-align: left ;
  }
  
  .MoveCard img {
    width: 50px;
  }
  
  .MoveCard:hover { /* <Card /> that is also <Link /> */
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }